[Unit]
Description=PHP dmzListener Service
After=network.target

[Service]
Type=simple
#change user to your own or root
user=edgarsteven
Restart=always
WorkingDirectory=/var/www/html/DMZ/
ExecStart=/usr/bin/php /var/www/html/DMZ/dmzListenerV2.php

[Install]
WantedBy=multi-user.target
